modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WebApp"

[[workflows.workflow]]
name = "WebApp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd WebApp && npm run replit"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39383
externalPort = 3000
